MONGO_URI=mongodb+srv:
OPENAI_API_KEY=sk-test-openai-xxxxxxxxxxxxxx
TELEGRAM_BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRstuVwxYZ
TELEGRAM_WEBHOOK_URL=https://chatpilot-test.onrender.com/webhook/telegram
JWT_SECRET=super_test_secret_123
APP_URL=https://chatpilot-test.onrender.com
MERCHANT_NAME=تاجر_تجريبي
MERCHANT_EMAIL=test@shop.example
MERCHANT_PHONE=@TestMerchant
